# {{ ansible_managed }}
name: forgejo
services:
  server:
    image: codeberg.org/forgejo/forgejo:9
    container_name: forgejo
    restart: always
    environment:
      - USER_UID=1000
      - USER_GID=1000
    volumes:
      - "{{ forgejo_data_location }}:/data"
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "{{ forgejo_port }}:3000"
      - "222:22"
